#profile{
    border-radius: 50%;
    border: 5px solid #212529;
}


.gradient-background {
    background: linear-gradient(300deg, #99508F, #77E6DD, #E58FDA );
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }